.content{background: #f1f1f1;}
/* cem */

.cem-system-int-hero{background: url(../images/insideHtml/CEMSystem/img_bg.png);background-size: cover;background-repeat: no-repeat;background-position: center; padding-top: 410px;}
.cem-contact{padding-top: 0;padding-bottom: 150px;}
.cem-box1{width: 100%;justify-content: center;}
.cem-box1 .fun-title-box{background-color: red;width: 12%;margin-top: -3%;height: 500px;margin-bottom: -3%;z-index: 1;}
.cem-box3 .fun-title-box{background-color: red; width: 15%;height: 550px;margin: -5% 5% 5% 15%;}
.fun-title-box img{margin-top: 10%;margin-left: 10%;}
.fun-title-box div p{color: white;font-size: 26px;text-align: center;}
.fun-title-box #cem-line{width: 20px;height: 2px;background-color: white;}


.cem-box1 .fun-box{width: 60%; flex-wrap: wrap;display: flex;flex-direction: row;justify-content: center;}
.cem-box1 .fun-box .fun-item{width: 25%;display: flex;flex-direction: column;justify-content: center;align-content: center;align-items: center;}
.cem-box1 .fun-box .fun-item .img-box img{width: 55px;height: 55px;}
.cem-box1 .fun-box .fun-item p{font-size: 18px;line-height: 30px;margin: 4%;}
.cem-box1 .fun-box .white{background-color:white}

.cem-box2{width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.cem-box2 .div-bg{background-color:#131314;height: 350px;width: 100%;}
.cem-box2 .div-text{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;color: white;margin-top: -11%;}
.cem-box2 .div-text .img-com{z-index: 1;}
.cem-box2 .div-text .text-box{width: 50%;background-color: red;margin-left:-20%;height: 800px;padding: 10% 10% 0 22%;}
.cem-box2 .div-text .text-box h3{line-height: 40px;margin-bottom: 20%;}
.cem-box2 .div-text .text-box p{line-height: 39px;font-size: 16px;}

.cem-box3 {background-color: #131314;margin-top: 10%;display: flex;flex-direction: row;justify-content: left;align-items: center;flex-wrap: wrap;}
.cem-box3 .text-box{line-height: 39px;font-size: 26px;color: white;}



/* gps */
.gps-box1{display: flex;flex-direction: column;flex-wrap: wrap;justify-content: center;align-items: center;text-align: center;width: 100%;margin-top: 5%;}
.gps-box1 .title-box h3{font-size: 32px;}
.gps-box1 .title-box p{font-size: 26px;}
.gps-box1 .box-containe{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;width: 80%;}
.gps-box1 .box-containe .show-box{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: center; width:500px;margin: 2%;background-color: #2d2d2f;}
.gps-box1 .box-containe .show-box .num-box{color: white;font-size: 26px;width: 20%;font-family: fantasy;}
.gps-box1 .box-containe .show-box .num-box span{font-size: 14px;}
.gps-box1 .box-containe .show-box .des-box{text-align: left; padding: 8%;color: white;width: 70%;margin: 5% 5% -5% 5%;}
.gps-box1 .box-containe .show-box:hover .des-box{background-color: red;}
.gps-box1 .box-containe .show-box:hover .des-box p{font-size: 18px;}
.gps-box1 .box-containe .show-box .des-box h3{font-size: 28px;line-height: 39px;}
.gps-box1 .box-containe .show-box .des-box p{font-size: 14px;line-height: 39px;height: 75px;transition: font-size 0.2s;}

.gps-content{padding-bottom: 150px;}
.gps-box2{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;background-color: #131314;padding: 0 15%;margin-top: 10%;}
.gps-box2 .title-box{background-color: red;width: 25%;color: white;text-align: center;padding: 15% 0;margin: -15% 0;}
.gps-box2 .title-box h3{font-size: 28px;}
.gps-box2 .title-box p{font-size: 26px;}
.gps-box2 .item-box{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;width: 75%;padding: 3% 0;}
.gps-box2 .item-box .fun-item{width: 30%;display: flex;flex-direction: column;flex-wrap: wrap;justify-content: center;align-items: center;padding: 1%;}
.gps-box2 .item-box .fun-item p{color: white;padding: 5%;font-size: 18px;}

.gps-box3{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;margin-top: 10%;}
.gps-box3 .img-item-box{width: 623px;background-color: white;border-radius: 2px;text-align: center;font-size: large;}
.gps-box3 .img-item-box:hover{transform: scale(1.2);transition: .25s;}
.gps-box3 .desc-text{padding: 5% 10%;margin-top: 5%; background-image: url('../images/insideHtml/GPSSystem/5.png');width: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;}
.gps-box3 .desc-text p{color: white;}
.gps-box3 .bigImg{position: relative;margin-top: 10%;}
.gps-box3 .bigImg .bigImg-button{transition: 0.25s; box-shadow: 0 0 6px 1px #dad6d6;padding: 4%;width: 20%;border-radius: 50%;display: flex;flex-direction: column; background-color: white;align-items: center;justify-content: center; position: absolute;}
.gps-box3 .bigImg .bigImg-button div:nth-of-type(1){display: block;}
.gps-box3 .bigImg .bigImg-button div:nth-of-type(2){display: none;}

.gps-box3 .bigImg .bigImg-button p{text-align: center;color: black;font-size: 17px;width: 100%;height: 17px;}
.gps-box3 .bigImg .bigImg-button:hover{background-color: red;}
.gps-box3 .bigImg .bigImg-button:hover div:nth-of-type(1){display: none;}
.gps-box3 .bigImg .bigImg-button:hover div:nth-of-type(2){display: block;}
.gps-box3 .bigImg .bigImg-button:hover p{color: white;}

.gps-box3 .bigImg .bigImg-button:nth-of-type(1){top: 10%;left: -4%;}
.gps-box3 .bigImg .bigImg-button:nth-of-type(2){top: -13%;left: 40.5%;}
.gps-box3 .bigImg .bigImg-button:nth-of-type(3){top: 10%;right:0%;}
.gps-box3 .bigImg .bigImg-button:nth-of-type(4){bottom: 0%;left: 7%;}
.gps-box3 .bigImg .bigImg-button:nth-of-type(5){bottom: 0%;right: 9%;}
.gps-box3 .bigImg img:nth-of-type(1){display: block;}
.gps-box3 .bigImg img:nth-of-type(2){display: none;}



@keyframes pingPong
{
0% {transform: rotate(0deg);}
25% {transform: rotate(4deg);}
75% {transform: rotate(-4deg);}
100%{transform: rotate(0deg);}
}
/* .gps-box3 .bigImg:hover{animation:pingPong 0.25s;} */

/* meter*/
.meter-box1{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;background-color: #131314;margin-top: 5%;padding: 0 5% ;}
.meter-box1 .desc-title-box{margin: -9% 5% 5% 5%;height: 400px;padding: 4% 0 0 2%;color: white;display: flex;flex-direction: column;flex-wrap: wrap;background-color: red;width: 20%;}
.meter-box1 .desc-title-box .white{background-color: white;width: 2px;height: 60px;position: relative;left: 5%;}
.meter-box1 .desc-title-box p{font-size: 26px;margin-top: 1rem;}
.meter-box1 .desc-title-box p:nth-of-type(1){font-size: 26px;margin-top: 0;}
.meter-box1 .desc-inside-box{padding: 2% 0;width: 56%;color: white;line-height: 27px;font-size: 16px;}

.meter-img-box{display: flex;justify-content: center;margin: 4% 0;}
.meter-img-box video{width: 60%;}
.meter-box2{display: flex;flex-direction: row;justify-content: center;align-items: center;flex-wrap: wrap;text-align: center;margin: 10% 0;}
.meter-box2 .desc-title-box{width: 100%;margin-bottom: 3%;}
.meter-box2 .desc-title-box h3{font-size: 32px;}
.meter-box2 .desc-title-box p{font-size: 26px;}
.meter-box2 .icon-item{width: 20%;}
.meter-box2 .icon-item p{margin: 5%;font-size: 20px;}


@media only screen and (max-width: 1630px), only screen and (max-device-width: 1630px) {
    .cem-box2 .div-text .text-box{width: 80%;padding: 10%;margin: 0;text-align: center;height: auto;}
}

@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
    .cem-system-int-hero{padding-top: 200px;}

    .cem-box1 .fun-title-box{width: 100%;margin: 0;height: auto;}
    .cem-box1 .fun-box{width: 100%;}
    .cem-box1 .fun-box .fun-item{width: 50%;height: 200px;}
    .cem-box2 .div-bg{height: 100px;}
    .cem-box2 .div-text .text-box{width: 100%;padding: 10%;margin: 0;text-align: center;height: auto;}
    .cem-box3{margin-top: 30%;justify-content: center;}
    .cem-box3 .fun-title-box{height: auto;margin: 0;width: 100%;}
    .cem-contact{padding-bottom: 50px;}
    .gps-box2 {padding: 0;}
    .gps-box2 .title-box{width: 100%;margin: 0;}
    .gps-box2 .item-box{width: 100%;}
    .gps-box2 .item-box .fun-item{width: 50%;}
    .gps-box2 .item-box .fun-item p{font-size: medium;}
    .gps-box2 .item-box .fun-item img{width: 40px;}
    .gps-box1 .box-containe .show-box .des-box h3{font-size: 19px;}
    .gps-box1 .box-containe .show-box .des-box p{line-height: normal;}
    .gps-box1 .box-containe .show-box:hover .des-box p{font-size: 16px;}
    .gps-box3 .bigImg img:nth-of-type(1){display: none;}
    .gps-box3 .bigImg img:nth-of-type(2){display: block;}
    .gps-box3 .bigImg .bigImg-button{display: none;}
    .gps-box3 .bigImg{margin-top: 0;}
    .gps-content{padding-bottom: 0;}

    .meter-box1{flex-direction: row-reverse;}
    .meter-box1 .desc-title-box{width: 80%;margin: 0;}
    .meter-box1 .desc-inside-box{width: 100%;}
    .meter-box2 .icon-item{width: 50%;}
    .meter-img-box video{width: 100%;}

}


